.background-red {
    background-color: #d35266;
}

.background-gray-1 {
    background-color: #888888;
}

.background-gray-2 {
    background-color: #383838;
}

.border-red {
    border-color: #d35266;
}

.text-red {
    color: #d35266;
}

.text-gray-1 {
    color: #888888;
}

.text-gray-2 {
    color: #383838;
}

.px-8 {
    padding: 0 180px;
}

.navbar-nav li {
    margin: 0 15px;
}

@media only screen and (min-width: 768px)  {
    .searchbar-1 {
        width: 300px;
    }

    .searchbar-2 {
        width: 250px;
    }
}

.position-bottom-right-corner {
    bottom: 0;
    right: 0;
}
